{% extends 'base.html' %}

{% block links %}
  <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<main class="form-login">
  <form action="{{ url_for('login.login') }}" method="post">

    {{ form.hidden_tag() }}

    <h1 class="h3 mb-3 fw-normal">Login</h1>

    <div class="form-floating">
      {{form.username(type="username", class='form-control')}}
      {{form.username.label}}

    </div>
    <div class="form-floating">
      {{form.password(type="password", class='form-control')}}
      {{form.password.label}}
    </div>

    {{form.submit(class='w-100 btn btn-lg btn-primary')}}
  </form>
</main>
{% endblock %}