<nav
  id="sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
>
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <p class="nav-link fw-bold">
          <a
            class="user_navbar"
            href="{{ url_for('users.user_update', user_id=current_user.id) }}"
            >{{current_user.username}} - {{current_user.role.name}}</a
          >
        </p>
      </li>
      {% if current_user.role.name == "admin" %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('users.users_page') }}">
          <span data-feather="users"></span>
          Users
        </a>
      </li>
      {% endif %}
      <!-- prettier-ignore -->

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('accounts.accounts_page') }}">
          <span data-feather="layers"></span>
          Accounts
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('devices.devices_page_main') }}">
          <span data-feather="radio"></span>
          Devices
        </a>
      </li>
    </ul>
  </div>
</nav>
