{% extends 'device/layout/base.html' %} {% block links %}
<link
  href="{{ url_for('static', filename='css/custom_forms.css') }}"
  rel="stylesheet"
/>
{% endblock %} {% block content %}
<main class="d-flex justify-content-center">
  <form
    class="form-add d-flex flex-column justify-content-between"
    action="{{ url_for('sub_devices.sub_device_edit', sub_uid=uid) }}"
    method="post"
  >
    {{ form.hidden_tag() }}

    <h1 class="h3 my-3">{{form.name.data}}</h1>

    <div class="hit-fieldset d-flex justify-content-between pb-2 w-100">
      <p class="me-3 pt-3">{{form.name.label}}:</p>
      {{form.name(class='hit-input')}}
      <!-- prettier-ignore -->
      {% for error in form.errors.username %}
      <small class="text-danger">{{error}}</small>
      {% endfor %}
    </div>

    {{form.submit(class='w-100 btn btn-lg btn-primary')}}
  </form>
</main>
{% endblock %}
<!-- prettier-ignore -->
{% block scripts %}
{% endblock %}
